body {
  margin: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

#canvas {
  width: 100vw;
  height: 100vh;
  display: block;
}

/* Tombol kiri */
#ui {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 20;
}

#ui button {
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid #aaa;
  background: white;
}

/* Label titik */
.label {
  position: absolute;
  background: rgba(255, 255, 255, 0.85);
  padding: 4px 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: none;
  font-size: 12px;
  z-index: 10;
}

/* Panel kanan */
#panel {
  position: absolute;
  top: 20px;
  right: 20px;
  background: rgba(255, 255, 255, 0.95);
  padding: 15px;
  border-radius: 10px;
  width: 260px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 20;
}

#panel h2 {
  margin-top: 0;
}

#panel label {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

#panel input,
#panel select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #aaa;
}

#panel button {
  margin-top: 8px;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
}

#materiText {
  font-size: 13px;
  margin-bottom: 6px;
}

#rumusText {
  font-size: 13px;
  margin-bottom: 6px;
}

#hasil p {
  margin: 3px 0;
}
